// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  margin:0;
  background-color:beige;
}

// サイドバー

.nav_box{
  background-color:white;
  width:230px;
  position:fixed;
  margin-left:15px;
  padding:20px;
  display:block;
  box-shadow:7px 7px 10px 10px rgba(0, 0, 0, 0.2);
  box-sizing:border-box;
  color:dimgray;
}

nav p{
  font-size:14px;
}

.nav_box img{
  width:170px;
  height:170px;
  display:block;
  margin:0 auto;
}

.point input{
  cursor:pointer;
}

.form_box h3{
  margin-bottom:2px;
  font-size:13px;
}

.text_box input{
  width:95%;
  font-size:20px;
  
}

.form_box label{
  font-size:14px;
}

.input_box{
width:190px;
font-size:18px;
// border-radius:2px;
}

.word{
  font-size:13px;
  margin-bottom:15px;
}



.submit input{
  width:190px;
  font-size:18px;
  background-color:khaki;
  color:dimgray;
  border-radius:8px;
  }



// 画像とその上の文字

.top_header{
  height:460px;
  background-image:url("ba65a0bcf13fcf622338c377de48e925_l.jpg");
  background-size:cover;
  z-index:1;
}

.top_word{
  color:white;
  z-index:2;
  position:absolute;
  top:100px;
  left:300px;
}

.title{
  font-size:34px;
  color:white;
  text-decoration:none;
}

// 内容

.contents{
  background-color:white;
  display:block;
  width:1000px;
  border:1px solid #e5e5e5;
  box-shadow:0 1px 3px 0 rgba(0,0,0,0.1);
  margin:20px 0 20px 280px;
  padding:20px;
  box-sizing:border-box;
  color:dimgray;
}

.contents img{
  width:300px;
}

.content{
  text-decoration:none;
  color:dimgray;
}

.fas{
  padding:3px;
}

.bold{
  font-weight:bold;
}

.memo{
  font-size:20px;
  padding:10px 0;
}

.detail{
  margin-left:280px;
  display:block;
  width:1000px;
  height:500px;
  border:1px solid #e5e5e5;
  box-shadow:0 1px 3px 0 rgba(0,0,0,0.1);
  margin-bottom:20px;
}

.url{
  color:limegreen;
}

.url a{
  color:limegreen;
}

// フッター

footer{
  background-color:rgba(0,0,0,0.2);
  color:white;
  text-align:right;
  padding:15px;
}

footer p{
  margin:0;
}

footer a{
  text-decoration:none;
  color:white;
}